.SocialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    outline: 0;
    padding: 5px;
    padding-left: 4%;
    padding-right: 4%;
    margin: 3%;
    white-space: nowrap;
    /* border: 1px solid rgba(255, 255, 255, 0.219); */
    background-color: #1214188c;
    transition: background-color cubic-bezier(.26,.15,.46,1) 0.35s;
}

.SocialLink:hover {
    background: #121418;
    /* border-color: white; */
}

.SocialLink .icon {
    padding-right: 5px;
}