.SourceLink {
    position: absolute;
    top: 2%;
    right: 10px;
    background-color: #1214188c;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.219);
    transition: background-color cubic-bezier(.26,.15,.46,1) 0.35s;
}

.SourceLink:hover {
    background: #121418;
    border-color: white;
}